@page
@model ResetV7.DoneModel
@{
    ViewData["Title"] = "Done";
}

    <h1 class="text-center">
        <br>
        תהליך איפוס סיסמה הסתיים בהצלחה.<br><br>
        יש להמתין כ-30 דקות עד שיכנס לתוקף במערכות office365.<br><br>
        לשאר המערכות אפשר להכנס באופן מיידי.<br><br>

    </h1>
