@page
@model ResetV7.ErrorModel
@{
    ViewData["Title"] = "Error";
}

    <script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
    </script>

<h1>משהו השתבש, פנה לתמיכה </h1>
<br />
<h1><a href="mailto:helpdesk@braude.ac.il?subject=LogID: @Model.ResetLog.ResetID">Helpdesk</a><br> </h1>
    <br />
    <h1>Session Id: @Html.DisplayFor(m => m.ResetLog.ResetID)</h1>
    <br />
    <h1>Error: @Html.DisplayFor(m => Model.LogType.name)</h1>
    @*@Html.DisplayFor(m => m.ResetLog.LogTypeId)*@




