@page
@model ResetV7.ErrorModel
@{
    ViewData["Title"] = "Error";
}

    <h1>Somthing went wrong. Please contract Administrator! </h1> <br />
    <h1>Session Id: @Html.DisplayFor(m => m.ResetLog.ResetID)</h1>

